.some-inform-wrapper .some-inform {
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6),
  &:nth-child(8),
  &:nth-child(10),
  &:nth-child(12),
  &:nth-child(14),
  &:nth-child(16),
  &:nth-child(18),
  &:nth-child(20) {
    .text-content {
      order: 2;
      padding-left: 20px !important;
    }

    .img-content {
      order: 1;
    }
  }
}

.years {
  &::-webkit-scrollbar {
    height: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(209, 209, 209);
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(126, 126, 126);
    border-radius: 5px;
  }
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 13px !important;
  color: #646464;
  font-weight: 600;
}

.project-swiper-btns::after {
  color: white !important;
}

@media (max-width: 640px) {
  .some-inform-wrapper .some-inform {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(10),
    &:nth-child(12),
    &:nth-child(14),
    &:nth-child(16),
    &:nth-child(18),
    &:nth-child(20) {
      .text-content {
        order: 1;
        padding-left: 0px !important;
      }

      .img-content {
        order: 2;
      }
    }
  }
}

@media (max-width: 999.5px) {
  .swiper .swiper-button-next:after,
  .swiper .swiper-button-prev:after {
    font-size: 10px !important;
  }
}

#project-wrapper {
  .project:nth-child(2),
  .project:nth-child(3),
  .project:nth-child(5),
  .project:nth-child(6),
  .project:nth-child(8),
  .project:nth-child(9),
  .project:nth-child(11),
  .project:nth-child(12),
  .project:nth-child(14),
  .project:nth-child(15),
  .project:nth-child(17),
  .project:nth-child(18),
  .project:nth-child(20),
  .project:nth-child(21),
  .project:nth-child(23),
  .project:nth-child(24),
  .project:nth-child(26),
  .project:nth-child(27),
  .project:nth-child(29),
  .project:nth-child(30) {
    width: 49.6%;
  }
}

@media (max-width: 768px) {
  #project-wrapper .project {
    width: 100% !important;
  }
}
